-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: form_approval_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `a10`
--

DROP TABLE IF EXISTS `a10`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `a10` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `klien_id` bigint(20) unsigned NOT NULL,
  `status` varchar(255) NOT NULL DEFAULT 'draft',
  `alasan_penolakan` text DEFAULT NULL,
  `form_a10` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`form_a10`)),
  `pembuat_id` bigint(20) unsigned NOT NULL,
  `penelaah_id` bigint(20) unsigned DEFAULT NULL,
  `penyetuju_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `a10_klien_id_unique` (`klien_id`),
  KEY `a10_pembuat_id_foreign` (`pembuat_id`),
  KEY `a10_penelaah_id_foreign` (`penelaah_id`),
  KEY `a10_penyetuju_id_foreign` (`penyetuju_id`),
  CONSTRAINT `a10_klien_id_foreign` FOREIGN KEY (`klien_id`) REFERENCES `clients` (`id`) ON DELETE CASCADE,
  CONSTRAINT `a10_pembuat_id_foreign` FOREIGN KEY (`pembuat_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `a10_penelaah_id_foreign` FOREIGN KEY (`penelaah_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `a10_penyetuju_id_foreign` FOREIGN KEY (`penyetuju_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `a10`
--

LOCK TABLES `a10` WRITE;
/*!40000 ALTER TABLE `a10` DISABLE KEYS */;
/*!40000 ALTER TABLE `a10` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `c10_d10`
--

DROP TABLE IF EXISTS `c10_d10`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `c10_d10` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `klien_id` bigint(20) unsigned NOT NULL,
  `materialitas_keseluruhan` decimal(20,2) DEFAULT NULL,
  `materialitas_kinerja` decimal(20,2) DEFAULT NULL,
  `kesalahan_ditoleransi` decimal(20,2) DEFAULT NULL,
  `status` varchar(255) NOT NULL DEFAULT 'draft',
  `alasan_penolakan` text DEFAULT NULL,
  `data_bagian` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`data_bagian`)),
  `pembuat_id` bigint(20) unsigned NOT NULL,
  `penelaah_id` bigint(20) unsigned DEFAULT NULL,
  `penyetuju_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `c10_d10_klien_id_unique` (`klien_id`),
  KEY `c10_d10_pembuat_id_foreign` (`pembuat_id`),
  KEY `c10_d10_penelaah_id_foreign` (`penelaah_id`),
  KEY `c10_d10_penyetuju_id_foreign` (`penyetuju_id`),
  CONSTRAINT `c10_d10_klien_id_foreign` FOREIGN KEY (`klien_id`) REFERENCES `clients` (`id`) ON DELETE CASCADE,
  CONSTRAINT `c10_d10_pembuat_id_foreign` FOREIGN KEY (`pembuat_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `c10_d10_penelaah_id_foreign` FOREIGN KEY (`penelaah_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `c10_d10_penyetuju_id_foreign` FOREIGN KEY (`penyetuju_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `c10_d10`
--

LOCK TABLES `c10_d10` WRITE;
/*!40000 ALTER TABLE `c10_d10` DISABLE KEYS */;
/*!40000 ALTER TABLE `c10_d10` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `c10_d10_accounts`
--

DROP TABLE IF EXISTS `c10_d10_accounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `c10_d10_accounts` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `c10_d10_id` bigint(20) unsigned NOT NULL,
  `kode_induk` varchar(255) NOT NULL,
  `nama_induk` varchar(255) NOT NULL,
  `saldo_normal` varchar(255) NOT NULL,
  `sufiks` varchar(255) NOT NULL,
  `kode_lengkap` varchar(255) NOT NULL,
  `nama` varchar(255) NOT NULL,
  `saldo_unaudited` decimal(20,2) NOT NULL,
  `tcm_unaudited` varchar(3) DEFAULT NULL,
  `penyesuaian_debit` decimal(20,2) NOT NULL DEFAULT 0.00,
  `penyesuaian_kredit` decimal(20,2) NOT NULL DEFAULT 0.00,
  `referensi` varchar(255) DEFAULT NULL,
  `saldo_audited` decimal(20,2) NOT NULL,
  `tcm_audited` varchar(3) DEFAULT NULL,
  `saldo_audited_sebelumnya` decimal(20,2) NOT NULL,
  `saldo_audited_sebelumnya2` decimal(20,2) DEFAULT NULL,
  `persen_materialitas` decimal(5,2) NOT NULL DEFAULT 50.00,
  `status_materialitas` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `c10_d10_accounts_c10_d10_id_foreign` (`c10_d10_id`),
  CONSTRAINT `c10_d10_accounts_c10_d10_id_foreign` FOREIGN KEY (`c10_d10_id`) REFERENCES `c10_d10` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `c10_d10_accounts`
--

LOCK TABLES `c10_d10_accounts` WRITE;
/*!40000 ALTER TABLE `c10_d10_accounts` DISABLE KEYS */;
INSERT INTO `c10_d10_accounts` VALUES (1,1,'100','Air','debit','00-001','100-00-001','Aqua',2000000.00,NULL,500000.00,0.00,NULL,2500000.00,NULL,2400000.00,0.00,50.00,'Material','2026-06-23 00:32:06','2026-06-23 00:32:59'),(2,1,'200','Tinta','kredit','00-01','200-00-01','Hitam',1000000.00,NULL,0.00,800000.00,NULL,1800000.00,NULL,1800000.00,0.00,50.00,'Material','2026-06-23 00:32:06','2026-06-23 00:32:59'),(3,1,'200','Tinta','kredit','00-02','200-00-02','Merah',1000000.00,NULL,0.00,800000.00,NULL,1800000.00,NULL,2000000.00,0.00,50.00,'Material','2026-06-23 00:32:06','2026-06-23 00:32:59');
/*!40000 ALTER TABLE `c10_d10_accounts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache` (
  `key` varchar(255) NOT NULL,
  `value` mediumtext NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) NOT NULL,
  `owner` varchar(255) NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_locks_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clients`
--

DROP TABLE IF EXISTS `clients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clients` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nama` varchar(255) NOT NULL,
  `tahun_buku` varchar(255) NOT NULL,
  `jadwal` varchar(255) NOT NULL,
  `dibuat_oleh` bigint(20) unsigned DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `clients_nama_tahun_buku_unique` (`nama`,`tahun_buku`),
  KEY `clients_dibuat_oleh_foreign` (`dibuat_oleh`),
  CONSTRAINT `clients_dibuat_oleh_foreign` FOREIGN KEY (`dibuat_oleh`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clients`
--

LOCK TABLES `clients` WRITE;
/*!40000 ALTER TABLE `clients` DISABLE KEYS */;
INSERT INTO `clients` VALUES (1,'PT EASTPARC HOTEL TBK','31 Desember 2024','Pre-Engagement (Analisi Penerimaan Dan Keberlanjutan Hubungan Dengan Klien)',NULL,'2026-06-22 23:35:27','2026-06-22 20:29:08','2026-06-22 23:35:27'),(2,'PT SNOWMAN','31 Desember 2025','Pre Engagement',1,NULL,'2026-06-22 23:44:08','2026-06-22 23:44:08');
/*!40000 ALTER TABLE `clients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `total_jobs` int(11) NOT NULL,
  `pending_jobs` int(11) NOT NULL,
  `failed_jobs` int(11) NOT NULL,
  `failed_job_ids` longtext NOT NULL,
  `options` mediumtext DEFAULT NULL,
  `cancelled_at` int(11) DEFAULT NULL,
  `created_at` int(11) NOT NULL,
  `finished_at` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) NOT NULL,
  `payload` longtext NOT NULL,
  `attempts` tinyint(3) unsigned NOT NULL,
  `reserved_at` int(10) unsigned DEFAULT NULL,
  `available_at` int(10) unsigned NOT NULL,
  `created_at` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
INSERT INTO `migrations` VALUES (1,'0001_01_01_000000_create_users_table',1),(2,'0001_01_01_000001_create_cache_table',1),(3,'0001_01_01_000002_create_jobs_table',1),(4,'2026_06_01_000000_create_clients_table',1),(5,'2026_06_01_100000_create_tim_perikatans_table',1),(6,'2026_06_10_000000_create_a10_table',1),(7,'2026_06_10_000001_create_c10_d10_table',1),(8,'2026_06_10_000002_create_c10_d10_accounts_table',1);
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `payload` longtext NOT NULL,
  `last_activity` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tim_perikatans`
--

DROP TABLE IF EXISTS `tim_perikatans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tim_perikatans` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `klien_id` bigint(20) unsigned NOT NULL,
  `user_id` bigint(20) unsigned NOT NULL,
  `peran` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `tim_perikatans_klien_id_user_id_unique` (`klien_id`,`user_id`),
  KEY `tim_perikatans_user_id_foreign` (`user_id`),
  CONSTRAINT `tim_perikatans_klien_id_foreign` FOREIGN KEY (`klien_id`) REFERENCES `clients` (`id`) ON DELETE CASCADE,
  CONSTRAINT `tim_perikatans_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tim_perikatans`
--

LOCK TABLES `tim_perikatans` WRITE;
/*!40000 ALTER TABLE `tim_perikatans` DISABLE KEYS */;
INSERT INTO `tim_perikatans` VALUES (1,1,4,'anggota','2026-06-22 20:29:08','2026-06-22 20:29:08'),(2,1,5,'ketua_tim','2026-06-22 20:29:08','2026-06-22 20:29:08'),(3,1,3,'supervisor','2026-06-22 20:29:08','2026-06-22 20:29:08'),(4,1,2,'partner','2026-06-22 20:29:08','2026-06-22 20:29:08'),(5,2,2,'partner','2026-06-22 23:53:10','2026-06-22 23:53:10'),(6,2,3,'supervisor','2026-06-22 23:53:10','2026-06-22 23:53:10'),(7,2,4,'ketua_tim','2026-06-22 23:53:10','2026-06-22 23:53:10'),(8,2,5,'anggota','2026-06-22 23:53:10','2026-06-22 23:53:10');
/*!40000 ALTER TABLE `tim_perikatans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `role` varchar(255) NOT NULL DEFAULT 'staff',
  `inisial` varchar(255) DEFAULT NULL,
  `remember_token` varchar(100) DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-23 14:50:22
